<nav class="sb-topnav-002 navbar-002 blue-background" aria-label="Cabecera gobierno de Colombia" role="complementary">

    <div class="container-fluid">
        <div class="row">
            <a href="https://www.gov.co/" target="_blank"><img alt="Logo Gobierno de Colombia" class="ml-4" src="../../../assets/img/logo.png" width="100"></a>
        </div>

    </div>

</nav>
<nav class="sb-topnav-003 navbar-003 navbar-expand navbar-dark bg-dark" role="complementary" aria-label="encabezado">
    <a class="navbar-brand" href="#">
        <div class="logo-img"></div>
    </a>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto navbar-right-top">


            <li class="nav-item dropdown nav-user">
                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="far fa-user fa-lg"></i> <span class="ocultar">Perfil</span> <i class="fa fa-angle-down ml-2 opacity-5"></i></a>
                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                    <div class="nav-user-info">
                        <h5 class="mb-0 text-white nav-user-name"></h5>

                    </div>

                    <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Salir</a>
                </div>
            </li>
        </ul>
    </div>
</nav>