<footer class="page-footer" aria-label="pata de la página" role="complementary">
        
    <div class="container">
        <div class="row">
            <div class="col-xl-4 mt-2 split">
                
                <p>
                Líneas de atención al usuario del ICETEX Bogotá: (57-1) 417-3535
            </p>
            <p>
                Línea gratuita a nivel Nacional: tel: (57-1) 018000-916821 (línea de quejas y reclamos)
            </p>
            <p>
                Horario de líneas de atención: Lunes a viernes de 7:00 am a 7:00 pm y sábados de 8:00 am
                a 6:00 pm, dependiendo de cada uno de <a href="https://portal.icetex.gov.co/Portal/Home/atencion-al-ciudadano/red_oficinas" target="_blank">nuestros canales de atención</a> IES de lunes a
                viernes de 8:00 am a 5:30 pm
            </p>
            </div>

            <div class=" col-xl-4 mt-2 split">
                <p>
                <a href="https://portal.icetex.gov.co/Portal/Home/atencion-al-ciudadano/notificaciones-judiciales" target="_blank"> Notificaciones Judiciales:</a><a href="mailto:notificaciones@icetex.gov.co">notificaciones@icetex.gov.co</a>
            </p>
            <p>
                Dirección: Carrera. 3 No. 18-32 
                <br>(Recepción de correspondencia) </p>
                <p>
                Código postal: 110321
            </p>
            <p>
                PBX: (57-1) 382-1670
            </p>
            
            </div>

            <div class="col-xl-4 mt-2">
               <ul class="nav navbar-nav list-inline">
                    <li class="list-inline-item"><a href="https://portal.icetex.gov.co/Portal/Home/atencion-al-ciudadano/pqrd/">Peticiones, Quejas y Reclamos</a></li>
                    <li class="list-inline-item"><a href="https://portal.icetex.gov.co/Portal/atencion-al-ciudadano/red_oficinas" target="_blank">Red de oficinas </a></li>
                    <li class="list-inline-item"><a href="https://portal.icetex.gov.co/Portal/Home/el-icetex/estructura-organizacional/directores-territoriales/" target="_blank">Estructura organizacional</a></li><li class="list-inline-item"><a href="https://portal.icetex.gov.co/Portal/Home/atencion-al-ciudadano/politica-de-tratamiento-de-datos-personales-ICETEX/" target="_blank">Política
                        de tratamiento de datos</a></li>

                        <li class="list-inline-item"><a href="https://portal.icetex.gov.co/Portal/Home/atencion-al-ciudadano/preguntas-frecuentes" target="_blank">Preguntas frecuentes</a></li>

                        <li class="list-inline-item"><a href="https://portal.icetex.gov.co/Portal/Home/atencion-al-ciudadano/glosario/" target="_blank">Glosario</a></li>
                        
                        <li class="list-inline-item"><a href="https://portal.icetex.gov.co/Portal/terminos-y-condiciones" target="_blank">Términos y condiciones del sitio</a></li>
                        
                        <li class="list-inline-item"><a href="https://portal.icetex.gov.co/Portal/Home/mapa-navegacion" target="_blank">Mapa del sitio</a></li>
                        
                        <li class="list-inline-item"><a href="http://becas/funcionarios/funcionarios.html" target="_blank">Funcionarios</a></li>
                        
                        <li class="list-inline-item"><a href="https://login.microsoftonline.com/" target="_blank">Correo Institucional</a></li>
                        
                        <li class="list-inline-item"><a href="https://portal.icetex.gov.co/Portal/Home/atencion-al-ciudadano/defensor-del-consumidor-financiero/" target="_blank">Defensor del consumidor financiero</a></li>
                        
                        <li class="list-inline-item"><a href="https://portal.icetex.gov.co/Portal/Home/transparecia" target="_blank">Transparencia y acceso a la información pública</a></li>
                   
                    </ul>

            </div>
        </div>
    </div>


</footer>
