<!-- GECS: Incluir logo Gov.co y logo Icetex en encabezado 3-Dic-20-->
<!-- <nav class="navbar blue-background"> -->
    <!-- <div class="container"> -->
<nav class="sb-topnav-002 navbar-002 blue-background" aria-label="Cabecera gobierno de Colombia" role="complementary">
    <div class="container-fluid">
    
        <div class="row">
            <a href="https://www.gov.co/" target="_blank"><img alt="Logo Gobierno de Colombia" class="ml-4"
                    src="../../../assets/img/logo.png" width="100"></a>
        </div>
    </div>
</nav>

<!-- <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark custom-height" role="complementary" aria-label="encabezado"> -->
    <!-- <div class="container"> -->
        <!-- <a class="navbar-brand" ><div class="logo-img"></div></a> -->
<nav class="sb-topnav-003 navbar-003 navbar-expand navbar-dark bg-dark" role="complementary" aria-label="encabezado">        
    <a class="navbar-brand">
        <div class="logo-img"></div>
    </a>   
</nav>
<br />
<br />
<br />
<br />
<br />

