/* You can add global styles to this file, and also import other style files */
span{
  color:rgb(40, 40, 233);
}

*,*:after, *:before{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#contenedor_carga{
  background-color: rgba(250,240,245,0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}
.carga{
  border: 15px solid #ccc;
  border-top-color: #F4266A;
  border-top-style: groove;
  height: 50px;
  width: 100px;
  border-radius: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;
}
@keyframes girar
{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
.green{
  color: green;
}
/* import styles to  ag-grid de grilla  ascii alt 126--1.Ag_grid GECS */
/* @import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css"; */

@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

/* //gris: #CFD8DC, #cbd0dc */
.ag-theme-alpine {
  @include ag-theme-alpine((
      odd-row-background-color:  #525658
  ));
}
