<div>
    <!-- GECS recargar pagina, segun diseñador Carlos Reyes 2-Dic-2020 -->
    <div class="alert-primary-govco alert alert-dismissible fade show" aria-label="Alerta informativa">
        <button type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="alert" aria-label="Cerrar" title="Cerrar">×</button>
        <div class="alert-heading">
            <svg class="svg-inline--fa fa-check-circle fa-w-16 icon-color-blue fa-2x pr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>
            <!-- <i class="fas fa-check-circle icon-color-blue fa-2x pr-2"></i> -->
        <span class="headline-l-govco">Importante</span>
        </div>
        <p>{{data.mensaje}}</p>
    </div>
    <br />
    <div class="conten-button">
        <div class="button">
            <button mat-button (click)="cancelar()" cdkFocusInitial class="btn btn-round btn-middle btn-outline-primary">Cancelar</button>
        </div>
        <div class="button">
            <button mat-button (click)="confirmar()" cdkFocusInitial class="btn btn-round btn-high ">Confirmar</button>
        </div>
    </div>
</div>