<p>post-resolv works!</p>
<app-menu-post></app-menu-post>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<!-- //BotonPanicoComponent // NO permite declararlo en mas de un NgModule -->
<!-- router-outlet es una etiqueta especial en Angular
  que sirve para mostrar los componentes hijos de un componente. -->
  <div class="bottomright">
    <!-- <router-outlet name="RouterOutletUsuarios"></router-outlet>  para cerrar bien-->
    <router-outlet name="popup"></router-outlet>
  </div>

<button class="btn btn-primary" (click)="navegarAusuarios()">Regresar a Usuarios</button>
<br>
<br>
<ng-container *ngIf="posts">
  <h2>*************POSTS desde RESOLVER GUARDS *************************</h2>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Title</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of posts">
        <td>{{e.userId}}</td>
        <td>{{e.title}} </td>
        <td>{{e.body}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
<!-- type = "ball-scale-multiple" color = "#fff -->
<ngx-spinner  bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "blue"
  type = "ball-scale-ripple-multiple"   [fullScreen] = "true" [show]="loading" >
  <div  class=" carga" style="width: 3rem; height: 3rem;" role="status"   >
    <!-- <span class="sr-only">Loading...</span> -->
  </div>
  <br>
  <br>
  <br>
  <p style="color: white" >Loading  Listado Posts RESOLVER... </p></ngx-spinner>

 <!-- <ngx-spinner bdColor = "rgba (0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true" > <p style = "color: white" > Cargando Listado Posts ... </p> </ngx-spinner> -->
